<div class="d-flex justify-content-around pb-4 mt-2">
  <button
    mat-fab
    mat-button
    color="success"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>dashboard</mat-icon>
  </button>

  <button
    mat-fab
    mat-button
    color="success"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>article</mat-icon>
  </button>
  <button
    mat-fab
    mat-button
    color="warn"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-fab
    mat-button
    color="success"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>event</mat-icon>
  </button>

  <button
    mat-fab
    mat-button
    color="success"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>analytics</mat-icon>
  </button>
</div>
