<mat-drawer-container autosize>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" mat-button (click)="drawer.toggle()"
        >Navbar</a
      >
    </div>
  </nav>

  <div class="container">
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  </div>
</mat-drawer-container>
